* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', system-ui, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Lexend', 'Inter', system-ui, sans-serif;
}

details[open] .details-content {
  max-height: 800px; /* enough for your code blocks */
}

.details-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

code[class*='language-'],
pre code[class*='language-'] {
  font-size: 0.8rem !important;
  line-height: 1 !important;
}

pre[class*='language-'] {
  background: hsl(215, 28%, 25%) !important;
}

.dark pre[class*='language-'] {
  background: hsl(215, 28%, 10%) !important;
}
